<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('catalog_index') }}">JL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbn ar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('catalog_index') }}">Catalog
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('profile_show')}}">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('contact')}}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path ('app_register')}}">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('cart_index') }}">Panier</a>
      </li>
      {% if is_granted('ROLE_ADMIN')%}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Espace administrateur 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('admin_categorie_index') }}">Gestion des categories</a>
          <a class="dropdown-item" href="{{ path('admin_commande_index') }}">Gestion des commandes</a>
          <a class="dropdown-item" href="{{ path('admin_detail_commande_index') }}">Gestion des quanités commandées</a>
          <a class="dropdown-item" href="{{ path('admin_paiement_index') }}">Gestion des paiement</a>
          <a class="dropdown-item" href="{{ path('admin_produit_index') }}">Gestion des produit</a>
          <a class="dropdown-item" href="{{ path('admin_user_index') }}">Gestion des utilisateurs</a>
        </div>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link disabled">Disable</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>